---
- name: Install docker
  become: true
  block:
    - name: Install setup packages for docker
      ansible.builtin.apt:
        name:
          - gnupg
          - ca-certificates

    - name: Setup GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"
        force: true

    - name: Add Apt source
      ansible.builtin.apt_repository:
        repo: >
          deb [arch="{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}" signed-by=/etc/apt/keyrings/docker.asc]
          https://download.docker.com/linux/ubuntu
          {{ ansible_distribution_release }} stable
        filename: docker

    - name: Install docker
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        update_cache: true
      notify: Restart docker

    - name: Install docker utils from pip
      ansible.builtin.pip:
        name:
          - docker
          - docker-compose

    - name: Finish install
      ansible.builtin.user:
        name: slava
        groups: docker
        append: true
      notify: Restart docker
