---
- name: Install nodejs via nvm
  vars:
    node_version: "20.18.1"
    nvm_version: "0.40.0"
  block:
    - name: Download nvm install script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/nvm-sh/nvm/v{{ nvm_version }}/install.sh
        dest: /tmp/nvm-install.sh
        mode: "0755"

    - name: Execute nvm install script
      ansible.builtin.command: /tmp/nvm-install.sh
      args:
        creates: "{{ home_directory }}/.nvm/nvm.sh"

    - name: Install node {{ node_version }}
      ansible.builtin.shell: >
        . {{ home_directory }}/.nvm/nvm.sh && nvm install {{ node_version }} && nvm alias default {{ node_version }}
      args:
        creates: "{{ home_directory }}/.nvm/versions/node/v{{ node_version }}"
        executable: /bin/bash
